[Unit]
Description=Aria2c Download Service (User Mode)
After=network.target

[Service]
Type=simple
ExecStart=__Aria2Home__/aria2c --conf-path=__Aria2Home__/aria2.conf
RestartSec=3
Restart=on-failure

MemoryLimit=512M
CPUQuota=50%

[Install]
WantedBy=default.target